---
import BadAppleASCII from "@/components/BadAppleASCII.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- prefetch bad apple data -->
		<link rel="prefetch" href="/badapple.txt" />
		<link rel="prefetch" href="/audio.mp3" />
		<title>
			Bad Apple ASCII
		</title>
	</head>
	<body class="font-mono">
		<BadAppleASCII  />
	</body>
</html>
